pre {
}

#buttons {
	padding: .5rem;
	float:right;
}

#feature {
	display: grid;
	grid-template-columns:50vw 50vw;
	gap: 0px 0px;
	clear: both;
}

#raw {
	border: solid thin;
	padding: 1rem;
	font-family: monospace;
	display:none;
}

#right {
	padding-left:.5rem;
	padding-right:.5rem;
	overflow: scroll;
	height: 100vh;
	margin-bottom:5rem;
}

#map {
	width: 100%;
	height: 100vh;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group label {
	font-weight: 700;
}

.form-group .form-text {
	display:block;
	margin-top: .5rem;
	font-style:italic;
}
